/* ------ BUTTONS-for-DESKTOP-TABLET-and-MOBILE ------*/
:root {
    --white-color: #FFFFFF;
    --fon-lemon-color: #FFFDEE;
    --black-color: #000000;
    --accent-yellow-color: #F3C653;
    --fon-dark-lemon-color: #F0ECD6;
    --brown-color: #C79002;
    --footer-color: #0E0C07;
    --input-text-color: #808080;

    /* Yan Koshel */
    --primary-text-color: #7A7A7A;
    --second-text-color: #BABABA;
    /* Viacheslav */
    --third-grey-color: #494848;

    /* --accent-yellow-color  and  opacity 0.7*/
    --svg-fill: rgba(243, 198, 83, 0.7);

    --shadow-on-arrows: rgba(0, 0, 0, 0.65);

    --background-header-color: #D9D9D9;
    --shadow-header: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.background {
  background-image: url(/pexels-kheng-tang-3873951\ 1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.btn {
  width: fit-content;
  display: inline-block;
  padding: 14px 35px;
  color: var(--accent-yellow-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  cursor: pointer;
  border: 2px solid var(--white-color);
  border-radius: 25px;
  transition: background-color var(--timing-function), color var(--timing-function), border var(--timing-function);
  
}

.button-grey {
  background-color: rgba(0, 0, 0, 0.4);

}

.button-black {
background-color: var(--black-color);

}

.btn:hover,
.btn:active {
  color: var(--accent-yellow-color);
  background-color:var(--white-color);
  border-color: var(--accent-yellow-color);
}

/* -------- BUTTONS-for-MODALS-of-DESKTOP-and-TABLET ------- */

.btn-big {
  width: fit-content;
  display: inline-block;
  padding: 18px 38px;
  color: var(--white-color);
  background-color: var(--black-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  cursor: pointer;
  border: 1px solid var(--accent-yellow-color);
  transition: background-color var(--timing-function), color var(--timing-function), border var(--timing-function);
}

.btn-big:hover,
.btn-big:active {
  color: var(--black-color);
  background-color:var(--accent-yellow-color);
}

.button-big-black {
  border-radius: 25px;
}

.button-modal-desk-tab {
  padding-left: 117px;
  padding-right: 116px;
  border-radius: 2px;
}

/* -------BUTTONS-for-MOBILE------- */

.btn-mob {
  width: fit-content;
  display: inline-block;
  padding: 20px 43px;
  color: var(--white-color);
  background-color: var(--black-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  border: 1px solid var(--accent-yellow-color);
  transition: background-color var(--timing-function), color var(--timing-function), border var(--timing-function);
  
}

.button-mobile-circle {
  border-radius: 25px;

} 

.button-mobile-quadro {
  border-radius: 2px;
}

.btn-mob:hover,
.btn-mob:active {
  color: var(--black-color);
  background-color: var(--accent-yellow-color);
}




/* MODAL WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--timing-function),
  visibility var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 414px;
  min-height: 572px;
  background-color: #FFFDEE;
  border: 1px solid #F3C653;
  border-radius: 2px;
  padding: 60px 15px;
}

.mod-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color var(--timing-function); 
}
 
 .mod-close-btn:hover,
.mod-close-btn:focus,
.mod-close-btn:active {
  background-color: #808080;
} 

.cross-close {
  transition: fill var(--timing-function);

}

.mod-price-title {
font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 1.2;
color: #000000;
text-align: center;
margin-top: 0;
margin-bottom: 40px;
}

.mod-two-place-lux {
  font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.2;
letter-spacing: 0.05em;
color: #808080;
margin: 0;
margin-bottom: 28px;

}



.mod-item {
display: block;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.3;
color: #C79002;
margin-top: 8px;

}

.mod-category_of_number {
  margin: 0;
  margin-bottom: 20px;
}

.mod-price-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.mod-form-input {
  width: 100%;
  height: 54px;
  border: 1px solid #C79002;

  padding: 13px 15px;
  font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.2;
letter-spacing: 0.05em;
  background-color: transparent;
  transition: border var(--timing-function);
}

.mod-btn-order-number {
  width: 100%;
}

.mod-form-input:hover,
.mod-form-input:focus,
.mod-form-input:active {
  outline: none;
  border-color: #F3C653;
} 



@media screen and (min-width: 1024px) {
  .modal {
    min-width: 712px;
    min-height: 489px;
    padding: 60px 60px;
  
}

.mod-price-form {
  flex-direction: row;
  gap: 16px;
}

.mod-form-input {
  width: 288px;
}
     
  }


@media screen and (min-width: 1280px) {



}